<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<section th:fragment="formActions"
         class="flex flex-col-reverse gap-4 border-t border-slate-200 pt-8
                sm:flex-row sm:justify-end">

    <th:block
            th:replace="~{fragments/buttons ::
            outlineLink(
                'Cancel',
                '/customer/dashboard'
            )}">
    </th:block>

    <th:block
            th:replace="~{fragments/buttons ::
            primaryButton(
                'Submit for Approval',
                'submit'
            )}">
    </th:block>

</section>

</body>
</html>